<div style="background-color: #fff;">

<div class="container" style="min-height: 875px">
<div class="page-header">

       <h1> 搜索结果   <span class="badge"><%= @courses.count%></span></h1> 
      <!--<div class="span4" align="right"><button class="btn"><%= link_to 'New Course', new_course_path %></button></div> -->

  </div>

  <% if @courses.blank?%>
  <p class="h3" style="text-align: center;">没有找到符合条件的课程！</p>
  <% else %>
  <div class="row">
    <% @courses.each do |course| %>
    <div class="col-sm-6 col-md-4 col-lg-4">
      <div class="thumbnail"style="height: 100%" >
        <%= image_tag(course.thumbnail_url)%>
        <div class="caption"style="height: 160px"  >
          <h3><%= course.title %></h3>
          <p><%= course.description %></p>
        </div>
        <div class="caption">
         <div align="right"><%= link_to '查看', course,class:"btn btn-default" %> </div>
         </div>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
</div>

</div>