 <!--<div style="margin:0 auto;overflow: hidden;">
 	<embed type="application/x-shockwave-flash" src="http://www.bjss.org.cn/data/skins/chinese/flash/banner.swf" height="250" width="100%" wmode="opaque" ></embed>
 </div>-->
 <div class="page-header" style="margin-bottom: 0;">
	<h1 class="text-center" style="text-shadow: 5px 5px 5px #ddd;">中小企业技术创新服务平台</h1>
</div>
 <div style="background-color: #FAFAFA;background-image: url(<%= image_path("px1.jpg")%>);background-repeat:no-repeat;background-size: 100%,auto;" >
 	<div class="" style="">
 	<br/>
 		<p class="h1" style="text-align: center;"><span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span> <a href="https://canvas.instructure.com/login/canvas" style="color: black;" target="_blank">远程教学培训平台</a></p>
	 	<br/><br/><br/><br/><br/><br/>
	 	<!--<%= image_tag("mooc.jpg",width:"100%",style:"")%>-->
	 </div>
 	<div class="row">
 	<div class="col-lg-3 col-lg-offset-2" style="padding:5px;">
 		<blockquote> <p class="h2"> <span class="glyphicon glyphicon glyphicon-tasks" aria-hidden="true"> </span>  任务导向</p></blockquote>
 		<p class="h3" style="line-height: 40px">根
 		据课程目标设置相应的课程活动，以课程任务为导向，合理安排课程进度及内容，确保学习效果，提倡学以致用。</p>
 	</div>
 	<div class="col-lg-3">
 		<blockquote> <p class="h2"> <span class="glyphicon glyphicon-calendar" aria-hidden="true"> </span>  课程日历</p></blockquote>
 		<p class="h3" style="line-height: 40px">课程日历涵盖课程的主要活动安排及进度节点，通过查看课程日历可以轻松掌握课程的教学进度及计划安排，便于师生根据进度进行准备。</p>
 		<br/>
 	</div>
 	<div class="col-lg-3">
 		<blockquote> <p class="h2"> <span class="glyphicon glyphicon-send" aria-hidden="true"> </span>  课程圈</p></blockquote>
 		<p class="h3" style="line-height: 40px">围绕课程提供的交流途径和平台，包括课程邮件、作业讨论、测试区等，通过讨论交流巩固提升学习效果。</p>
 	</div>

 	</div>
 </div>
 <div style="background-image: url(<%= image_path("bb.jpg")%>);">
  	<div class="" style="background-color: ">
  	<br/>
 		<p class="h1" style="text-align: center;color: white"><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>  <%= link_to '在线公开课平台',home_index_path,style:"color:white",target:"_blank"%></p> 

	 	<!--<%= image_tag("mooc.jpg",width:"100%",style:"")%>-->
	 	<br/><br/><br/><br/><br/><br/>
	 </div>
	<div class="row">
 	<div class="col-lg-3 col-lg-offset-2" style="padding:5px;">
 		<blockquote> <p class="h2" style="color: white;"> <span class="glyphicon glyphicon-user" aria-hidden="true"> </span>  服务用户</p></blockquote>
 		<p class="h3" style="line-height: 40px;color: white;">中小企业创新方法远程在线学习系统面向中小型企业需求，为创新方法和推广和培训打造一个远程在线的学习平台。</p>
 	</div>
 	<div class="col-lg-3">
 		<blockquote> <p class="h2"style="color: white;"> <span class="glyphicon glyphicon-film" aria-hidden="true"> </span>  专业课程</p></blockquote>
 		<p class="h3" style="line-height: 40px;color: white;">课程内容涵盖计算机基础知识、互联网技术、企业管理原理、经济运行理论等内容，并提供评价沟通功能，方便师生之间在线零距离交流。</p>
 		<br/>
 	</div>
 	<div class="col-lg-3">
 		<blockquote> <p class="h2"style="color: white;"> <span class="glyphicon glyphicon-stats" aria-hidden="true"> </span>  聚焦热门</p></blockquote>
 		<p class="h3" style="line-height: 40px;color: white;">关注行业热点，聚焦最新发展动态，第一时间跟进最新技术的发展及运用，为技术转化和应用提供良好平台与机制。</p>
 	</div>

 	</div>	 
 </div>
 <div class="row" style="background-color: #fff; padding: 10px">
	 <div class="col-sm-6 col-md-4 col-lg-3 col-lg-offset-2">
		<div class="" style="background-color: #44aa22;margin:5px;padding:5px; height: 200px">
			<div class="caption">
				<p class="h3" style="color: white;text-align: center;" >  <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span> 创新平台</p>
				<br/>
				<blockquote> <p class="h4" style="color:white" >简介:基于云计算平台的计算及辅助创新平台</p></blockquote>
				
			</div>
			<!--<div class="caption" style="color: white">
				<p class="h4"> <span class="glyphicon glyphicon-heart"></span>One</p>
				<p class="h4"> <span class="glyphicon glyphicon-heart"></span>Two</p>
				<p class="h4"> <span class="glyphicon glyphicon-heart"></span>Three</p>
			</div>
			<%= image_tag("2.jpg",width:"100%")%>
			<div class="caption">
				<p class="h4"><small> 简介:基于云计算平台的计算及辅助创新平台</small></p> 
				<p class="text-right"><a href="#" class="btn btn-primary "> 更多</a> </p>
			</div>-->
		</div>	
	 </div>
	 <div class="col-sm-6 col-md-4 col-lg-3 ">
		<div class="" style="background-color: #dd4422;margin:5px;padding:5px;height: 200px">
			<div class="caption">
				<p class="h3" style="color: white;text-align: center;">  <span class="glyphicon glyphicon-file" aria-hidden="true"></span> 专利申请辅助平台</p>
				<br/>
				<blockquote> <p class="h4" style="color:white" >简介:专利申请辅助平台</p></blockquote>
				
			</div>

		</div>	
	 </div>	 
	 <div class="col-sm-6 col-md-4 col-lg-3 ">
		<div class="" style="background-color: #4444aa;margin:5px;padding:5px;height: 200px">
			<div class="caption">
				<p class="h3" style="color: white;text-align: center;">  <span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span> 移动平台客户端</p>
				<br/>
				<blockquote> <p class="h4"style="color:white" >简介: 平台移动客户端,目前提供Android系统智能手机适用app</p></blockquote>
			</div>

		</div>	
	 </div>
 </div>
 <!--<div class="container">
 
 <nav id="navbar-example" class="navbar navbar-default navbar-static" role="navigation">
   <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse"
         data-target=".bs-js-navbar-scrollspy">
         <span class="sr-only">切换导航</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
      </button>
   </div>
   <div class="collapse navbar-collapse bs-js-navbar-scrollspy">
      <ul class="nav navbar-nav">
         <li><a href="#one">创新平台</a></li>
         <li><a href="#two">远程培训</a></li>
         <li><a href="#three">专利申请</a></li>
         <li><a href="#four">在线公开课</a></li>
         <li><a href="#five">移动客户端</a></li>

      </ul>
   </div>
</nav>
<div class="" style="background-color: #fff; padding-left: 20px">
<div data-spy="scroll" data-target="#navbar-example" data-offset="0"
   style="height:100%;overflow:auto; position: relative;padding: 15px">
   <div class="row">
   	<div class="col-sm-6 col-md-4 col-lg-4">
   		<div class="thumbnail">
   			<div class="caption">
   				<blockquote><p class="h3">  <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span> 创新平台</p></blockquote>
   				
   			</div>
   			<%= image_tag("2.jpg")%>
   			<div class="caption">
   				<p class="h4"><small> 简介:基于云计算平台的计算及辅助创新平台</small></p> 
   				<p class="text-right"><a href="#" class="btn btn-primary "> 更多</a> </p>
   			</div>
   		</div>
   	</div>
   	<div class="col-sm-6 col-md-4 col-lg-4">
   		<div class="thumbnail">
   			<div class="caption">
   				<blockquote><p class="h3"> <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>  远程教学培训平台 </p></blockquote>
   				
   			</div>
   			<%= image_tag("2.jpg")%>
   			<div class="caption">
   				<p class="h4">简介:远程教学培训平台</p> 
   				<p class="text-right"><a href="#" class="btn btn-success "> 更多</a> </p>
   			</div>
   		</div>
   	</div>
   	<div class="col-sm-6 col-md-4 col-lg-4">
   		<div class="thumbnail">
   			<div class="caption">
   				<blockquote><p class="h3"> <span class="glyphicon glyphicon-file" aria-hidden="true"></span>  专利申请辅助平台 </p> </blockquote>
   				
   			</div>
   			<%= image_tag("2.jpg")%>
   			<div class="caption">
   				<p class="h4">简介:专利申请辅助平台</p> 
   				<p class="text-right"><a href="#" class="btn btn-info "> 更多</a> </p>
   			</div>
   		</div>
   	</div>
   	<div class="col-sm-6 col-md-4 col-lg-4">
   		<div class="thumbnail">
   			<div class="caption">
   				<blockquote> <p class="h3"><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span> 在线公开课平台</p> </blockquote>
   				
   			</div>
   			<%= image_tag("2.jpg")%>
   			<div class="caption">
   				<p class="h4">简介:在线公开课平台（MOOC）</p>  
   				<p class="text-right"><%= link_to '更多',home_index_path,class:"btn btn-warning"%> </p>
   			</div>
   		</div>
   	</div>
   	<div class="col-sm-6 col-md-4 col-lg-4">
   		<div class="thumbnail">
   			<div class="caption">
   				<blockquote><p class="h3"> <span class="glyphicon glyphicon-phone" aria-hidden="true"></span> 平台移动客户端app </p> </blockquote>
   				
   			</div>
   			<%= image_tag("2.jpg")%>
   			<div class="caption">
   				<p class="h4">简介: 平台移动客户端app</p>  
   				<p class="text-right"><a href="#" class="btn btn-danger "> 更多</a> </p>
   			</div>
   		</div>
   	</div>

   </div>


   	
</div>
</div>
</div>-->
