<div class="row" >
<div class="col-lg-4 col-lg-offset-4">
<div style="min-height: 761px">

<%= form_for(@video) do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% @video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title ,"标题"%><br>
    <%= f.text_field :title,class:"form-control" %>
  </div>
  <div class="field">
    <%= f.label :description,"视频简介" %><br>
    <%= f.text_area :description,class:"form-control" %>
  </div>
  <div class="field">
    <%= f.label :video_url,"视频路径" %><br>
    <%= f.file_field :video_url %>
  </div>
    <div class="field">
    <%= f.label :duration,"视频时长" %><br>
    <%= f.text_field :duration,class:"form-control" %>
  </div>
    <div class="field">
    <%= f.label :author,"视频作者" %><br>
    <%= f.text_field :author,class:"form-control" %>
  </div>
  <div class="field" >
    <%= f.label :chapter_id,"章节号" %><br>
    <%= f.text_field :chapter_id,class:"form-control",value:"#{params[:chapter_id]}",readonly:true %>
  </div>
  <div class="actions">
    <%= f.submit "确定",class:"btn btn-primary btn-lg" %>
  </div>
  
<% end %>

</div>
</div>
</div>
