<div class="container">
  <div class="page-header">
    <h2><%= @course.title%></h2>
  </div>
  <ul class="nav nav-tabs">
    <li class="h4"><%= link_to "视频区",@course.chapters.first.videos.first%></li>
    <li class="active h4"><%= link_to "讨论区",posts_path(course_id:@course.id),style:"font-weight:bolder" %> </li>
  </ul>
</div>
<br/>
<div style="background-color: #fff; min-height: 682px;">
  <div class="container" >
    <div class="row">
      <div class="col-lg-4">
        <% if @course.posts.count!=0 %>
          <ul class="nav nav-pills nav-stacked">
          <li><%= @course.posts.count%></li>
        <% @course.posts.each do |post| %>
          <li class="h4"><%= link_to post.title, post %></li>
        <% end %>
        </ul>
        <% else %>
        <% end%>

      </div>

        <div class="col-lg-8 ">
        <% if @course.posts.count==0%>
        <p class="h4">该课程目前尚无讨论。</p>
        <% if user_signed_in?%>
        <div style="text-align: right;">
        <%= link_to "新建话题",new_post_path(course_id:@course.id),class:"btn btn-primary"%>
        </div>
        <% else %>
        <p class="h4"><%= link_to '登陆', new_user_session_path %>发起新话题吧！</p>
        <% end %>
        <% else %>
        <% if user_signed_in?%>
        <div style="text-align: center;">
        <%= link_to "新建话题",new_post_path(course_id:@course.id),class:"btn btn-primary"%>
        </div>
        <% else %>
        <% end %>
          <p>Discussion Here</p>
        <% end %>




        </div>

      </div>
    </div>
  </div>



<!--<h1>Listing Posts</h1>

<table>
  <thead>
    <tr>
    <th>Title</th>
      <th>Content</th>
      <th>Post</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
      <td><%= post.title%></td>
        <td><%= post.content %></td>
        <td><%= post.course %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(Post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>-->
